.navbar img{
    height: 30px;
    width: auto;
    margin-left: 20px;
}
.navbar{
    background-color: #000;
    height: 50px;
}
.location_button{
    background-color: transparent;
    border: transparent;
    margin: 2px;
    color: #fff;
    height: 45px;
    width: auto;
    padding: 2px;    
}
.location_button h6{
    color: grey;  
}
.location_button:hover{
    border: 1px solid #fff;  
    background-color: transparent; 
    margin: 2px;
    padding: 2px;
    height: 45px;
    color: #fff; 
}
.location_button p{
    margin: 0px;
}
.p2{
    size: bold;
    margin: 0px;
    
}
.navbar form{  
    margin-right: 0px;
    margin-left: 20px;
}
.navbar form input{  
    width: 770px;
}
li{
    color: #fff;
    text-decoration: none;
    text-align: center;
    align-items: center;
    list-style-type: none;
    margin-right: 0px; 
}
ul {
    list-style-type: none;
}
nav p{
    color: #fff;
    cursor: pointer;
}
.cart_div{
    margin-right: 0px;
    cursor: pointer;
}
.admin_db_heading_div{
    height: 150px; 
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 4px;
}
.add_company_div{
    height: 100px; 
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 4px;
}

.add_staff_div{
    height: 100px; 
    width: 100%;
    text-align: center;
    align-items: center;
    padding: 4px;
}
.admin_db_heading_div h1{
    margin-top: 40px;
    
}
.dashboard{ 
    width: 100%;
    height: auto; 
    margin: 0px;
    padding: 0px;
}
td a{
    cursor: pointer;
}

.footer{
    color: #fff;
    height: 30px;
    width: 100%;
    background-color: black;
    text-align: center;
    align-items: center;
}
.search_btn{
    background-color: #e69832;
    margin-left: -68px; 
    height: 40px;
    border: 1px solid #e69832;
    border-radius: 0px 4px 4px 0px; 
}
.search_btn:hover{
    background-color: #d48217;
    transition: 250ms;
    margin-left: -68px; 
    height: 40px;
    border: 1px solid #d48217;
    border-radius: 0px 4px 4px 0px;
}